<div class="contact-container">
  <h2>Contact Us</h2>
  <p>Email: <a href="mailto:hello@joyslice.com">hello&#64;joyslice.com</a></p>
  <p>Phone: <a href="tel:+123456789">+1 (234) 567-89</a></p>
  <p>Address: 123 Pizza Street, Flavor Town, IT</p>

  <div class="social-media">
    <a href="https://facebook.com/joyslice" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://instagram.com/joyslice" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://tiktok.com/@joyslice" target="_blank"><i class="fab fa-tiktok"></i></a>
    <a href="https://youtube.com/@joyslice" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://x.com/joyslice" target="_blank"><i class="fab fa-x-twitter"></i></a>
  </div>
</div>
