body {
  font-family: var(--body-font);
  color: var(--dark);
  width: 100vw;
}
.container {
  background-color: var(--light);
  padding: 0;
}
.site-header {
  background-color: rgba(62, 45, 31, 0.95);
  color: var(--light);
  width: 100%;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(62, 45, 31, 0.8);
  user-select: none;
}

main {
  padding: 15px 0 15px;
}

.footer {
  background: #fdfdfb;
  color: #333;
  font-family: var(--body-font);
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: left;
}
